@import 'nib'

$overlayPaddingV = 5px
$overlayPaddingH = 10px

.g-cornerstone-demo-container
  margin-bottom 15px
  position relative

  .g-render-target
    background-color black
    height 500px

  .g-ui-overlay
    position absolute
    color white
    font-size 14px

    &[top]
      top $overlayPaddingV
    &[bottom]
      bottom $overlayPaddingV
    &[left]
      left $overlayPaddingH
    &[right]
      right $overlayPaddingH

    .g-slice-slider
      width 150px
